<div class="card shadow-lg" style="background-color: #E1E3E3;">
  <img class="card-img-top img-thumbnail shadow-lg" src="../../../../../assets/user.png" alt="--">
  <div class="card-body">
    <div class="shadow-lg">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <strong>Name:</strong>
          <p>--</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <strong>Age:</strong>
          <p>--</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <strong>Foot:</strong>
          <p>--</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <strong>Position:</strong>
          <p>--</p>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="card-footer shadow-lg" style="background-color: #E1E3E3;">
  </div>
</div>