<div class="container-fluid">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><h5>Username</h5></th>
        <th><h5>Team</h5></th>
        <th><h5>Likes</h5></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users"
          [ngClass] ="{
            'table-success' : user.id == currentUserId
          }">
        <td>{{user.knownAs}}</td>
        <td>Aek FC</td>
        <td>{{user.totalLikes}}</td>
        <td><button class="btn btn-primary" [disabled]="user.id == currentUserId" (click)="sendLike(user.id, user.knownAs)">Vote <span class="fa fa-thumbs-up"></span></button></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="d-flex justify-content-center">
  <pagination
   [boundaryLinks]="true" 
   [totalItems]="pagination.totalItems" 
   [(ngModel)]="pagination.currentPage" 
   [itemsPerPage]="pagination.itemsPerPage"
   (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

</pagination>