<div class="card shadow-lg bg-white rounded mb-4 mt-5">
  <div class="card-img-wrapper">
     <!-- to || prostethike gia na diorthwthei to lathos me tous neous eggegrammenous xristes -->
    <img class="card-img-top" src="{{user.photoUrl || '../../../../../assets/user.png'}}" alt="{{user.knownAs}}">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item"><button class="btn btn-primary" [routerLink]="['/players/',user.id]"><i class="fa fa-user"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-primary" (click)="sendLike(user.id)"><i class="fa fa-thumbs-up"></i></button></li>
      <!-- <li class="list-inline-item"><button class="btn btn-primary btn-sm" [routerLink]="['/players/', user.id]" [queryParams]="{tab: 3}" ><i class="fa fa-envelope"></i></button></li> -->
    </ul>
  </div>
  <div class="card-body p-1" style="background-color: #d1e0e0;">
    <h6 class="card-title text-center mb-1"><i class="fa fa-user"> {{user.knownAs}}, {{user.age}}</i></h6>
    <p class="card-text text-muted text-center">{{user.city}}
      <span *ngIf="isNew" class="badge badge badge-pill badge-primary">new</span>
    </p>
    
  </div>
</div>