.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.position-wrapper {
    margin-top: 4px;
}

.position-badges {
    text-align: center;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}