<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="card">
          <div class="card-body">
            There will be an add
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-body">
            There will be an add
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-body">
            There will be an add
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="main-body">    
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="{{user.photoUrl || '../../../../../assets/user.png'}}" alt="{{user.knownAs}}" alt="{{user.knownAs}}" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{user.knownAs}}</h4>
                    <p class="text-secondary mb-1">{{user.age}}</p>
                    <p class="text-muted font-size-sm"><p>{{user.city}}, {{user?.country}}</p>
                    <p>Last active: </p> <p class="text-muted font-size-sm">{{user.lastActive | date: 'mediumDate'}}</p>
                    <button class="btn btn-primary">Like</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <li *ngIf="user.facebookUrl" class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="{{user?.facebookUrl}}"><i class="fa fa-facebook-f icon"></i></a>
                </li>
                <li *ngIf="user.instagramUrl" class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="{{user?.instagramUrl}}"><i class="fa fa-instagram icon"></i></a>
                </li>
                <li *ngIf="user.twitterUrl" class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="{{user?.twitterUrl}}"><i class="fa fa-twitter icon"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <div>
                  <tabset>
                    <tab heading="General Info">       
                      <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <h6 class="mb-0">FullName</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                          {{user.fullName}}
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <h6 class="mb-0">Birth Place</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                          <label *ngIf="!user.placeOfBirth" for="placeOfBirthText"> - </label>
                                          <label for="placeOfBirthText">{{user.placeOfBirth}}</label>
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <h6 class="mb-0">Citizen</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                          <label *ngIf="!user.citizenship" for="citizenshipText"> - </label>
                                          <label for="citizenshipText">{{user.citizenship}}</label>
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <h6 class="mb-0">Height</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                          <label *ngIf="!user.height" for="heightText">  </label>
                                          <label for="heightText">{{user.height}}</label>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                          <h6 class="mb-0">Foot</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                          <label *ngIf="!user.foot" for="footText"> - </label>
                                          <label for="footText">{{user.foot}}</label>
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <h6 class="mb-0">Positions</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                          <span class=" mr-1 badge" *ngFor="let position of positions"
                                            [ngClass]="
                                            {'badge-warning':position === 'Goalkeeper',
                                            'badge-danger':position === 'Striker',
                                            'badge-primary':position === 'Defender',
                                            'badge-secondary':position === 'Midfielder'
                                        }">{{position}}</span>
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <h6 class="mb-0">Previous clubs</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                          --
                                        </div>
                                      </div>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <h6 class="mb-0">Current Club</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                          <label *ngIf="!user.currentClub" for="currentClubText"> - </label>
                                          <label for="currentClubText">{{user.currentClub}}</label>
                                        </div>
                                      </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                    </tab>
                    <tab heading="Photos">
                      <ngx-gallery style="display: inline-block; margin-bottom: 20px;" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </tab>
                  </tabset>
                </div>
              </div>
            </div>
          </div>

          
      </div>
    </div>
</div>

<!-- Recommended players -->
<div class="container mt-5">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <p>There will be cards of recommended players based on age and position. User will be able to visit recommended user's profile
          by clicking on the card.
        </p>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>


<!-- <div class="container">
    
  </div> -->
  <!-- end of recommended players -->