<!-- additional filtering area -->
<div class="text-center mt-3">
  <h2>{{pagination.totalItems}} Players found</h2>
</div>

<!-- end of additional filtering area -->



<div class="container mt-3">
  <!-- additional filtering area -->
  <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
    <div class="form-group">
      <label for="minAge">Age From</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="minAge" name="minAge"
        [(ngModel)]="userParams.minAge">
    </div>
  
    <div class="form-group px-2">
      <label for="maxAge">Age To</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge" name="maxAge"
        [(ngModel)]="userParams.maxAge">
    </div>
  
    <div class="form-group px-2">
      <label for="gender">Show: </label>
      <select class="form-control ml-1" style="width: 130px" id="gender" name="gender" [(ngModel)]="userParams.gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{gender.display}}
        </option>
      </select>
    </div>
    <!-- <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
    <button type="button" class="btn btn-info" style="margin-left:10px" (click)="resetFilters()">Reset Filter</button> -->
    
    <div class="form-group px-2">
      <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 amber-border" [(ngModel)]="userParams.searchWord" name="searchWord" type="text" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <span class="input-group-text amber lighten-3" (click)="searchUsers()" id="basic-text1"><i class="fa fa-search text-grey"
              aria-hidden="true"></i></span>
        </div>
      </div>
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <i class="fa fa-search ml-2" aria-hidden="true"></i> -->
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
    <button type="button" class="btn btn-info" style="margin-left:10px" (click)="resetFilters()">Reset Filter</button>
  </form>
  <br>
</div>
<div class="container mt-3">
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-player-card [user]="user"></app-player-card>
    </div>
  </div>
</div>  
<!-- <pre class="card card-block card-header">Model: {{ searchWord | json }}</pre>
 
<input [(ngModel)]="searchWord"
       typeaheadOptionField="login"
       [typeahead]="suggestions$"
       [typeaheadAsync]="true"
       class="form-control"
       placeholder="Enter username">
 
<div class="alert alert-danger" role="alert" *ngIf="errorMessageForSearch">
  {{ errorMessageForSearch }} -->
<!-- </div> -->
<div class="d-flex justify-content-center">
  <pagination
   [boundaryLinks]="true" 
   [totalItems]="pagination.totalItems" 
   [(ngModel)]="pagination.currentPage" 
   [itemsPerPage]="pagination.itemsPerPage"
   (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

</pagination>
</div>
